<article id="contact" class="section-wrapper clearfix" data-custom-background-img="/img/bg/bg-contact.jpg">
  <div class="content-wrapper clearfix">

      <h1 class="section-title">Контакты</h1>

        <!-- CONTACT DETAILS -->
        <div class="contact-details col-sm-5 col-md-3">
          <p>660041, г. Красноярск, ул. Курчатова, д.4, кв.148</p>
          <p>Тел: +7 929 313 1729</p>
          <p><a href="mailto:lxkvlv@gmail.com">lxkvlv@gmail.com</a></p>
        </div>
        <!-- END: CONTACT DETAILS -->

  </div><!-- .content-wrapper -->
</article><!-- .section-wrapper -->
