      <!-- Footer -->
      <section id="footer">

      <!-- Go to Top -->
        <div id="go-to-top" onclick="scroll_to_top();"><span class="icon glyphicon glyphicon-chevron-up"></span></div>

        <ul class="social-icons">
          <li><a href="https://www.facebook.com/lxkvlv" target="_blank" title="Facebook"><img src="/img/theme_images/social_icons/facebook.png" alt="Facebook"></a></li>
          <li><a href="https://twitter.com/lxkvlv" target="_blank" title="Twitter"><img src="/img/theme_images/social_icons/twitter.png" alt="Twitter"></a></li>
          <li><a href="https://www.google.com/+lxkvlv" target="_blank" title="Google+"><img src="/img/theme_images/social_icons/googleplus.png" alt="Google+"></a></li>
        </ul>

        <!-- copyright text -->
        <div class="footer-text-line">&copy; 2015 {{ site.title }}</div>
      </section>
      <!-- end: Footer -->
