  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ "/css/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/bootstrap/css/bootstrap-theme.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <!-- Font Aweasome -->
    <link rel="stylesheet" href="{{ "/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <!-- Open Sans -->
    <link rel="stylesheet" href="{{ "/fonts/opensans/css/open-sans.css" | prepend: site.baseurl }}">
    <!-- JS plugin css -->
    <!-- vegas bg -->
    <link rel="stylesheet" href="{{ "/js/vendor/vegas/jquery.vegas.min.css" | prepend: site.baseurl }}">
    <!-- owl carousel css -->
    <link rel="stylesheet" href="{{ "/js/vendor/owl-carousel/owl.carousel.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/js/vendor/owl-carousel/owl.theme.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/js/vendor/owl-carousel/owl.transitions.css" | prepend: site.baseurl }}">
    <!-- intro animations -->
    <link rel="stylesheet" href="{{ "/js/vendor/wow/animate.css" | prepend: site.baseurl }}">
    <!-- font awesome -->
    <link rel="stylesheet" href="{{ "/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <!-- lightbox -->
    <link rel="stylesheet" href="{{ "/js/vendor/lightbox/css/lightbox.css" | prepend: site.baseurl }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
