          <article id="intro" class="section-wrapper clearfix" data-custom-background-img="/img/bg/bg-intro.jpg">
            <div class="content-wrapper clearfix wow fadeInDown" data-wow-delay="0.3s">
              <div class="col-sm-10 col-md-9 pull-right">

                <section class="feature-text">
                  <h1>Алексей Яковлев</h1>
                  <p>Фронтенд и бакенд разработчик</p>
                  <p>Фронтенд: HTML5, LESS, CoffeeScript, jQuery</p>
                  <p>Бакенд: PHP, Bitrix, Drupal</p>
                  <p><a href="#code" class="link-scroll btn btn-outline-inverse btn-lg">смотреть проекты и код</a></p>
                </section>

              </div><!-- .col-sm-10 -->
            </div><!-- .content-wrapper -->
          </article><!-- .section-wrapper -->
