      <!-- Left Sidebar -->
      <section id="left-sidebar">

        <div class="logo">
          <a href="#intro" class="link-scroll">
            <h2>{{ site.title }}</h2>
          </a>
        </div><!-- .logo -->

        <!-- Menu Icon for smaller viewports -->
        <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>

        <ul id="main-menu">
          <li id="menu-item-code" class="menu-item scroll"><a href="#code">Код</a></li>
          <li id="menu-item-projects" class="menu-item scroll"><a href="#projects">Проекты</a></li>
          <li id="menu-item-contact" class="menu-item scroll"><a href="#contact">Контакты</a></li>
        </ul><!-- #main-menu -->

      </section><!-- #left-sidebar -->
      <!-- end: Left Sidebar -->
