<!DOCTYPE html>
<html>

  {% include head.html %}

    <body data-default-background-img="/images/other_images/bg1.jpg" data-overlay="true" data-overlay-opacity="0.35">
      <!-- Outer Container -->
      <div id="outer-container">
        {% include left_sidebar.html %}
        <!--
          <div class="page-content">
            <div class="wrap">
            {{ content }}
            </div>
          </div>
        -->
        <section id="main-content" class="clearfix">
          {% include intro.html %}
          {% include code.html %}
          {% include projects.html %}
          {% include contact.html %}
        </section><!-- #main-content -->


        {% include footer.html %}
      </div><!-- #outer-container -->
      <!-- end: Outer Container -->
      {% include modals.html %}
    {% include js.html %}

    </body>
</html>
